/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:outfit ;
    scroll-behavior: smooth;
} */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-smooth {
    scroll-behavior: smooth;
}

* {
    font-family: outfit;
}
